<div id="<%= dom_id realtor %>">
  <p>
    <strong>First name:</strong>
    <%= realtor.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= realtor.last_name %>
  </p>

  <p>
    <strong>Brokerage:</strong>
    <%= realtor.brokerage %>
  </p>

  <p>
    <strong>Zipcode:</strong>
    <%= realtor.zipcode %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= realtor.image_url %>
  </p>

</div>
