<div class="flex min-h-screen items-center justify-center bg-white">
    <div class="p-6 overflow-scroll px-0">
  <table class="w-full min-w-max table-auto text-left">
    <thead>
      <tr>
        <th class="border-y border-blue-gray-100 bg-blue-gray-50/50 p-4">
          <p class="block antialiased font-sans text-sm text-blue-gray-900 font-normal leading-none opacity-70">Profile photo</p>
        </th>
        <th class="border-y border-blue-gray-100 bg-blue-gray-50/50 p-4">
          <p class="block antialiased font-sans text-sm text-blue-gray-900 font-normal leading-none opacity-70">First name</p>
        </th>
        <th class="border-y border-blue-gray-100 bg-blue-gray-50/50 p-4">
          <p class="block antialiased font-sans text-sm text-blue-gray-900 font-normal leading-none opacity-70">Last name</p>
        </th>
        <th class="border-y border-blue-gray-100 bg-blue-gray-50/50 p-4">
          <p class="block antialiased font-sans text-sm text-blue-gray-900 font-normal leading-none opacity-70">Brokerage</p>
        </th>
        <th class="border-y border-blue-gray-100 bg-blue-gray-50/50 p-4">
          <p class="block antialiased font-sans text-sm text-blue-gray-900 font-normal leading-none opacity-70">Zip Code</p>
        </th>
      </tr>
    </thead>
    <tbody>
      <% @realtors.each do |realtor| %>
        <tr>
          <td class="p-4 border-b border-blue-gray-50">
            <div class="flex items-center gap-3">
              <%= image_tag(realtor.image_url, alt: realtor.first_name, class: "inline-block w-12 h-12 rounded-full border border-blue-gray-50 bg-blue-gray-50/50 object-contain p-1") if realtor.image_url.present? %>
            </div>
        </td>
          <td class="p-4 border-b border-blue-gray-50">
            <p class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-normal"><%= realtor.first_name %></p>
          </td>
          <td class="p-4 border-b border-blue-gray-50">
            <p class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-normal"><%= realtor.last_name %></p>
          </td>
          <td class="p-4 border-b border-blue-gray-50">
            <p class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-normal"><%= realtor.brokerage %></p>
          </td>
          <td class="p-4 border-b border-blue-gray-50">
            <p class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-normal"><%= realtor.zipcode %></p>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="py-4">
    <%= will_paginate @realtors, class: 'flex justify-center gap-4' %>
  </div>
</div>

</div>